@charset "utf-8";
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,table,td,dl,dt,dd,img,div,input{
  padding: 0;
  margin:  0;
}
body{
  font-size: 14px;
}
img{
  border: none;
}
input,select,textarea{
  outline: none;
}
textarea{
  resize: none;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
.float_l{
  float: left;
}
.clearfix{
  clear: both;
}
.myBtn{
  display: block;
  background-color:#256FB9;
  border:1px solid #256FB9;
  color: #ffffff;
  border-radius: 5px;
  font-family: 'microsoft Yahei';
  cursor: pointer;
}
